.section-banners {
  position: relative;
  // height: resp-size(901);
  & &__container {
    @include _767 {
      padding-left: 0;
      padding-right: 0;
    }
    // padding-right: resp-size(176);
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    background-color: $primary;
    top: calc(100% - 2px);
    left: 0;
    z-index: 2;
  }
}
.banners-swiper {
  &__wrapper {
    height: calc((901 / 1920)* 100vw);

    @include _992 {
      height: calc((878 / 1920)* 100vw);
    }
    @include _767 {
      height: auto;
      min-height: resp-size(378, 363);
    }
  }
  &__slide {
    padding-top: resp-size(66);
    position: relative;
    padding-right: resp-size(176);
    @include _767 {
      padding-top: resp-size(13, 363);
      padding-right: resp-size(24,363);
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: resp-size(24);
    max-width: 70%;
    margin-left: auto;
    text-align: right;
    @include _767 {
      gap: calc((10 / 363) * 100vw);
      max-width: calc((255 / 363) * 100vw);
    }
  }
  &__title {
    @include font(Miama-Nueva, 400, sans-serif);
    font-size: resp-size(55);
    font-weight: 700;
    line-height: 1.4em;
    @include _767 {
      max-width: resp-size(195, 363);
      font-size: resp-size(16, 363);
    }
  }
  &__img-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 38%;
    @include _767 {
      width: resp-size(256, 363);
      height: auto;
    }
  }
  &__text-img {
    height: 100%;
    width: auto;
    object-position: center;
    object-fit: contain;
  }
  &__text-img-wrap {
    height: resp-size(83);
    width: auto;
    @include _767 {
      height: auto;
      width: 100%;
    }
  }
}
